*{
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    list-style: none;
    list-style-position: outside;
    outline: none;
}

    /*---------------------FOR LAPTOPS----------------------------------------*/

  @media (min-width: 768px){
    /* CABECERA */
    header{
        width: 100%;
        height: 300px;
        background-image: url("../Images/Libro_Banner.jpg") ;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-attachment: fixed;
        background-position: top center;
    }
    
    /* BOTONES */
    button img{
        height: 35px;
        width: 35px;
        padding: 2px 0 2px 0;
    }
    button{
        border-radius: 110%;
        border: none;
        padding: 1px 4px 1px 4px;
        box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.40);
        cursor:pointer;
    }
    #Profile-button{
        position: fixed;
        right: 60px;
        top: 10px;
        animation: color_button_profile 5s alternate-reverse infinite;
    }
    #Home-button{
        position: fixed;
        right: 120px;
        top: 10px;
        background-color: rgb(255, 123, 0);
    }
    #Back-button{
        position: fixed;
        right: 180px;
        top: 10px;
        background-color: red;
    }
    #contenido-2{
        width: 62%;
    }
    /* CONTENIDO */
    .contenido{
        float: none;
        height: auto;
        width: 100%;
        display: flex;
        background-color: #ececec;
    }
    #contenido-2{
        width: 62%;
    }
    .container-aside{
        width: 30%;
        margin: 5em 2em 5em;
    }
    #lateral{
        height: 500px;
        border-radius: 1em;
        width: 100%;
        background-color: #176de4;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em;
        color: white;
        font-weight: bolder;
        box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.40);
    }
    /*--------------página dos----------------*/
    .contenido-2-page2 {
        width: 100%;
        display: flex;
        /*margin: 0 0 3em;*/
        flex-flow: wrap;
    }
    .container-number-page2{
        width: auto;
    }
    .listed-1-page2{
        width: 50%;
        color: #3b4657;
    }
    .container-page2-1{
        margin: 1em;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 1.5em;
    }
    .container-page2-2{
        margin: 1em;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 1.5em;
    }
    .contenido-4-page2{
        width: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
    }
    
#intro{
    position: fixed;
    display: none;
    border-radius: 1em;
    width: 80%;
    /* flex-flow: wrap; */
    left: 6.5em;
    top: 5em;
    height: 80%;
    flex-flow: wrap;
    animation: introduccion_intro 2s;
}

#exit {
    border-radius: 110%;
    outline: none;
    width: 1em;
    background-color: #7ad2b9;
    align-items: center;
    font-weight: bolder;
    position: fixed;
    margin-top: 0.5em;
    margin-left: 0.5em;
    color: white;
    font-size: 1.5em;
    justify-content: center;
    display: flex;
    height: 1em;
    padding: 20px;
    box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 40%);
    cursor: pointer;
}

#exit:hover {
    box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 60%);
}

#intro-image {
    width: auto;
    height: 40%;
}

#intro-text {
    font-weight: bolder;
    width: 50%;
    height: 29em;
    overflow: scroll;
    overflow-x: hidden;
    animation: white_text 2s;
    margin: 5em 0.8em 0em;
    color: white;
}

#imagen-contenedor{
    position: absolute;
    border-top-right-radius: 1em;
    animation: image 2s;
    border-bottom-right-radius: 1em;
    justify-content: center;
    align-items: center;
    height: 1389px;
    overflow: hidden;
    width: 48%;
    right: 0;
}

    /* páginas tres */
    .contenido-1-page3s{
        display: flex;
        flex-flow: wrap;
        padding: 3em;
    }

    .contenido-2-page3s-1{
        width: 50%;
        display: flex;
        flex-flow: column;
        align-items: flex-end;
    }
    .contenido-2-page3s-2{
        width: 50%;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
    }
    .container-3-page3s-1{
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: flex-end;
        padding: 1.5em;
    }

    .container-3-page3s-2{
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: flex-start;
        padding: 1.5em;
    }
    .listed-1-page3s{
        width: 50%;
        color: #3b4657;
    }
  }

    /* ---------------------FOR TABLETS----------------------------------------*/

  @media (min-width: 501px) and (max-width: 767px){
    /* CABECERA */
    header{
        width: 100%;
        height: 18em;
        background-image: url(../Images/Libro_Banner.jpg);
        background-repeat: no-repeat;
        background-size: 200% auto;
        background-attachment: fixed;
        background-position: top center;
    }

    /* BOTONES */
    button img{
        height: 35px;
        width: 35px;
        padding: 2px 0 2px 0;
        cursor:pointer;
        }
        button{
        border-radius: 110%;
        border: none;
        padding: 1px 4px 1px 4px;
        box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.40);
        }
        #Profile-button{
        position: fixed;
        right: 60px;
        top: 10px;
        animation: color_button_profile 5s alternate-reverse infinite;
        }
        #Home-button{
        position: fixed;
        right: 120px;
        top: 10px;
        background-color: rgb(255, 123, 0);
        }
        #Back-button{
        position: fixed;
        right: 180px;
        top: 10px;
        background-color: red;
        }
    /* CONTENIDO */
    .contenido{
        float: none;
        height: auto;
        width: 100%;
        display: flex;
        background-color: #ececec;
    }
    #contenido-2{
        width: 62%;
    }
    .container-aside{
        width: 30%;
        margin: 5em 2em 5em;
    }
    #lateral{
        height: 500px;
        border-radius: 1em;
        width: 100%;
        background-color: #176de4;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em;
        color: white;
        font-weight: bolder;
        box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.40);
    }
    /*--------------página dos----------------*/
    .contenido-2-page2 {
        width: 100%;
        display: flex;
        flex-flow: wrap;
        /*margin: 0 0 3em;*/
        /* flex-flow: wrap; */
    }
    .container-number-page2{
        width: auto;
    }
    .listed-1-page2{
        width: 50%;
        color: #3b4657;
    }
    .container-page2-1{
        margin: 1em;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 1.5em;
    }
    .container-page2-2{
        margin: 1em;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 1.5em;
    }
    .contenido-4-page2{
        width: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
    }
    
#intro{
    position: fixed;
    display: none;
    border-radius: 1em;
    width: 80%;
    /* flex-flow: wrap; */
    left: 6.5em;
    top: 5em;
    height: 80%;
    flex-flow: wrap;
    animation: introduccion_intro 2s;

}

#exit {
    border-radius: 110%;
    outline: none;
    width: 1em;
    background-color: #7ad2b9;
    align-items: center;
    font-weight: bolder;
    position: fixed;
    margin-top: 0.5em;
    margin-left: 0.5em;
    color: white;
    font-size: 1.5em;
    justify-content: center;
    display: flex;
    height: 1em;
    padding: 20px;
    box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 40%);
    cursor: pointer;
}

#exit:hover {
    box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 60%);
}

#intro-image {
    width: auto;
    height: 40%;
}

#intro-text {
    font-weight: bolder;
    width: 50%;
    height: 29em;
    overflow: scroll;
    overflow-x: hidden;
    animation: white_text 2s;
    margin: 5em 0.8em 0em;
    color: white;
}

#imagen-contenedor{
    position: absolute;
    border-top-right-radius: 1em;
    animation: image 2s;
    border-bottom-right-radius: 1em;
    justify-content: center;
    align-items: center;
    height: 1389px;
    overflow: hidden;
    width: 48%;
    right: 0;
}

    /* páginas tres */
    .contenido-1-page3s{
        display: flex;
        flex-flow: wrap;
        padding: 3em;
    }
    .contenido-2-page3s-1{
        width: 50%;
        display: flex;
        flex-flow: column;
        align-items: flex-end;
    }
    .contenido-2-page3s-2{
        width: 50%;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
    }

    .container-3-page3s-1{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 1.5em;
    }
    
    .container-3-page3s-2{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 1.5em;
    }
    .listed-1-page3s{
        width: 80%;
        color: #3b4657;
    }
}



    /* ---------------------FOR PHONES---------------------------------------- */

  @media (max-width: 500px){

    /* CABECERA */
    header{
        width: 100%;
        height: 13em;
        background-image: url(../Images/Libro_Banner.jpg);
        background-repeat: no-repeat;
        background-size: 200% auto;
        background-attachment: fixed;
        background-position: top center;
    }

    /*  BOTONES */
    button img{
    height: 35px;
    width: 35px;
    padding: 2px 0 2px 0;
    }
    button{
    border-radius: 110%;
    border: none;
    padding: 1px 4px 1px 4px;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.40);
    cursor:pointer;
    }
    #Profile-button{
    position: fixed;
    right: 60px;
    top: 10px;
    animation: color_button_profile 5s alternate-reverse infinite;
    }
    #Home-button{
    position: fixed;
    right: 120px;
    top: 10px;
    background-color: rgb(255, 123, 0);
    }
    #Back-button{
    position: fixed;
    right: 180px;
    top: 10px;
    background-color: red;
    }
    
    /* CONTENIDO*/
    .contenido{
        float: none;
        height: auto;
        width: 100%;
        display: flex;
        flex-flow: wrap;
        background-color: #ececec;
    }
    #contenido-2{
        width: 100%;
    }
    .container-aside{
        width: 100%;
        margin: 1em 2em 2em 2em;
        display: flex;
    }
    #lateral{
        height: 18em;
        border-radius: 1em;
        width: 100%;
        background-color: #176de4;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em;
        color: white;
        font-weight: bolder;
        box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.40);
    }
    /*--------------página dos----------------*/
    .contenido-2-page2 {
        width: 100%;
        display: flex;
        flex-flow: column;
    }
    .container-number-page2{
        width: 20%;
        
    }
    .listed-1-page2{
        width: 50%;
        color: #3b4657;
        font-size: 20px;
    }
    .container-page2-1{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1em;
    }
    .container-page2-2{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1em;
    }
    .contenido-4-page2{
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    
#intro{
    position: fixed;
    display: none;
    border-radius: 1em;
    width: 80%;
    /* flex-flow: wrap; */
    left: 3em;
    top: 5em;
    height: 80%;
    flex-flow: column;
    animation: introduccion_intro 2s;
}

#exit {
    border-radius: 110%;
    outline: none;
    width: 1em;
    background-color: #7ad2b9;
    align-items: center;
    font-weight: bolder;
    position: fixed;
    margin-top: 0.5em;
    margin-left: 0.5em;
    bottom: 2.8em;
    right: 2em;
    z-index: 1;
    color: white;
    font-size: 1.5em;
    justify-content: center;
    display: flex;
    height: 1em;
    padding: 20px;
    box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 40%);
    cursor: pointer;
}

#exit:hover {
    box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 60%);
}

#intro-image {
    width: auto;
    height: 18em;
}

#intro-text {
    font-weight: bolder;
    width: 94%;
    height: 18.5em;
    overflow: scroll;
    overflow-x: hidden;
    animation: white_text 2s;
    margin: 1em 0.8em 0em;
    color: white;
}

#imagen-contenedor{
    position: absolute;
    border-bottom-left-radius: 1em;
    animation: image 2s;
    border-bottom-right-radius: 1em;
    justify-content: center;
    height: 12em;
    overflow: hidden;
    bottom: 0em;
    width: 100%;
    left: 0;
}


    /* páginas tres */
    .contenido-1-page3s{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    .contenido-2-page3s-1{
        width: 50%;
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .contenido-2-page3s-2{
        width: 50%;
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .container-3-page3s-1{
        display: flex;
        align-items: center;
        margin:1em;
        justify-content: center;
    }
    
    .container-3-page3s-2{
        display: flex;
        align-items: center;
        margin: 1em;
        justify-content: center;
    }
    .listed-1-page3s{
        width: 70%;
        color: #3b4657;
        margin-left: 1em;
    }
}

/*------------------------------------------------------------------------------------------------------------------------------------*/

/*
PALETA DE COLORES
#3b4657 -gris oscuro
#idk -gris
#ececec -blanco
#7ad2b9 -celeste
#176de4 -azul
*/


#contenido-3{
    width: 100%;
}
.tittle{
    width: 100%;
    display: flex;
    margin-top: 5em;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#to-figuras-literarias:hover{
    background-color: rgba(255, 255, 255, 0.707);
}
#contenido-4{
    width: 100%;
    display: inline-block;
}
h1{
    font-size: 2em;
    margin: 0.67em 0;
    width: 5em;
    text-align: center;
    background-color: #7ad2b9;
    color: white;
    border-radius: 1em;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.40);
}
.number-1{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    font-size: 35px;
    margin-right: 10px;
    font-weight: 500;
    background-color:#3b4657;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.40);
}
.listed-1{
    width: 50%;
    color: #3b4657;
}
h2{
    width: 30%;
}
.description{
    display: flex;
    align-items: center;
    justify-content: center;
    width:55%;
    color: #3b4657;
    margin: 0 0 10px 0px;
}

footer {
    background-color: #176de4;
    height: 50px;
    width: 100%;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes color_button_profile{
    0%{background:#aae605}
    25%{background:  #3adc3a}
    75%{background:#aae605}
    100%{background:  #3adc3a}
}

/* pagina dos*/

.contenido-1-page2{
    width: 100%;
    flex-flow: wrap;
    display: flex;
    background-color: #ececec;
}

.description-page2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #3b4657;
    margin: 2em 2em 0em 2em;
    font-size: 25px;
}

.h2-page2{
    width: 100%;
    font-size: 20px;
}

.number-1-page2{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    font-size: 35px;
    margin-right: 10px;
    font-weight: 500;
    background-color:#176de4;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.40);
}

#conclusiones{
    height: 2em;
    /* text-align: center; */
    background-color: #3b4657;
    color: white;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em;
    box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 40%);
    cursor: pointer;
}

#conclusiones:hover{
    box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 60%);
}

div#container span.number-1-page2:hover{
    background-color: rgba(255, 255, 255, 0.707);
}

a.container:hover {
    background-color: rgba(255, 255, 255, 0.707);
}

/* Figuras Retóricas */

.contenido-1-retoricas{
    background-color: #ececec;
}

#tittle-page3s{
    font-size: 2em;
    margin: 0.67em 0;
    text-align: center;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: #7ad2b9;
    color: white;
    border-radius: 1em;
    box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 40%);

}
.def-carac{
    background-color: #3b4657;
    color: white;
    border-radius: 1em;
    height: 2em;
    width: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1;
    margin: 0 1em;
}
.container-3-page3s-1:hover{
    background-color: rgba(255, 255, 255, 0.707);
}
.container-3-page3s-2:hover{
    background-color: rgba(255, 255, 255, 0.707);
}

#happy-container{
    position: fixed;
    right: 90px;
    top: 100px;
    height: 80px;
    width: 100px;
    border-radius: 1em;
    display: none;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    justify-content: center;
    z-index: 3;
    animation: happy_button 3s;
}

@keyframes white_text{
    from{color: transparent;}
    to{color: white;}
}

@keyframes image{
    from{filter:opacity(0);}
    to{filter:opacity(1);}
}

@keyframes happy_button{
    0% {color: transparent} 
    0% {background-color: none}
    25% {color: black} 
    25% {background-color: rgba(255, 255, 255, 0.707)}
    100% {background-color: none}
    100% {color: transparent} 
}

@keyframes introduccion_intro{
   0% {background-color: transparent}
   0% {color: transparent;}
   100% {color: white;}
   100% {background-color: #7ad2b9}
}

/* scroll bar */
::-webkit-scrollbar {
    width: 15px;
    background: none;
    position: fixed;
}
::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:active {
    background-color: #3b4657;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #3b46577a;
    border-radius: 10px;

    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track {
    background-color: #ececec;
    border-radius: 10px;
}

#intro-text::-webkit-scrollbar-track {
    background: transparent;
}
  
